@font-face {
	font-family: 'Switzer-Regular';
	src: url(../../assets/fonts/Switzer-Regular.woff2?h=44bb7994ad2b1b8e58841610516dfe0a) format('woff2'),
	url(../../assets/fonts/Switzer-Regular.woff?h=44bb7994ad2b1b8e58841610516dfe0a) format('woff'),
	url(../../assets/fonts/Switzer-Regular.ttf?h=44bb7994ad2b1b8e58841610516dfe0a) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}